.App {
  text-align: center;
  background: #EDEBD7;
  height: 100%;
}

@keyframes typing {
  from { width: 0}
  to {width: 100%}
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes blinking {
  0% {border-right-color: transparent}
  50% {border-right-color: #5d5e60}
  100% {border-right-color: transparent}
}

.page--header{

   position: sticky;
  z-index: 10; 
  min-height: 75px;

  display: flex;
  width: 100%;
  background: #EDEBD7;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 5px 10px #5d5e60;

}

.page--link {
  
  text-decoration: none;
  color: #5d5e60;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-size: 22px;

}

#about, #experience {
  padding: 0 100px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 200px;
  
}

.header--body {
  padding: 50px;
  color: #5d5e60;
  grid-column: 1 1;
  width: auto;
  display: flex;
  flex-direction: column;

}

.title {
  font-size: 80px;
  display: flex;
  font-family: 'Lato', 'sans-serif';
  color: #5d5e60;
}

.description {
  font-size: 28px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 2.5s steps(55, end) forwards, blinking 1s infinite;
  border-right: 2px solid;


}
.title > h1 {
  margin-bottom: 0;
  
}
/* .my-name {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 1.5s steps(45, end) forwards, blinking 1s infinite;
  border-right: 2px solid;
} */


.header--wrapper {
  display : grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto;
  margin: 75px 0;


}
.social--links {

  grid-column: 2 2;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 200px 0;

}
.icon--wrapper {
  background: #A57548;
  width: 80px;
  height: 80px;
transition: transform .2s;
  border-radius: 50%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

 
}
.icon {
  color: white;
  margin: auto; 
}
.resume--icon {
  animation: fadein 0.75s 2.5s forwards;
  opacity: 0;
}

.github--icon {
  animation: fadein 0.75s 3.25s forwards;
  opacity: 0;
}
.linkedin--icon {
  animation: fadein 0.75s 4s forwards;
  opacity: 0;
}

.icon--wrapper:hover {
  transform: scale(1.5);
}
#about {
  padding-right: 400px;
}

.about--title, .experience--header {
  font-size: 44px;
  text-align: start;
  color: #5d5e60;

  margin-bottom: 60px;

}

.about--description {
  font-size: 28px;
  text-align: start;
  color: #5d5e60;

} 
.timeline--date {
  font-size: 44px;
}

#contact {
  margin-bottom: 300px;
}
.contact--header {
  margin-bottom: 120px;
  font-size: 44px;
  color: #5d5e60
}

.contact--div {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background: #A57548;
  width: 24%;
  border-radius: 10%;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-decoration: none;

}
.contact--div:hover {
  position: relative;
  margin-top: -15px;
  transition: margin-top .1s;
  -webkit-transition: margin-top .1s;
}

.contact--divs {
  margin: 0 auto;
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  gap: 60px;
}