.App {
  text-align: center;
  background: #EDEBD7;
  height: 100%;
}

@keyframes typing {
  from { width: 0}
  to {width: 100%}
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes blinking {
  0% {border-right-color: transparent}
  50% {border-right-color: #5d5e60}
  100% {border-right-color: transparent}
}

.page--header{

   position: sticky;
  z-index: 10; 
  min-height: 75px;

  display: flex;
  width: 100%;
  background: #EDEBD7;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 5px 10px #5d5e60;

}

.page--link {
  
  text-decoration: none;
  color: #5d5e60;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-size: 22px;

}

#about, #experience, #projects {
  padding: 0 5%;
  font-family: 'Inter', sans-serif;
  margin-bottom: 200px;
  
}

.header--body {
  padding: 50px;
  color: #5d5e60;
  grid-column: 1 1;
  width: auto;
  display: flex;
  flex-direction: column;

}

.title {
  font-size: 80px;
  display: flex;
  font-family: 'Lato', 'sans-serif';
  color: #5d5e60;
}

.description {
  font-size: 28px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 2.5s steps(55, end) forwards, blinking 1s infinite;
  border-right: 2px solid;


}
.title > h1 {
  margin-bottom: 0;
  
}
/* .my-name {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 1.5s steps(45, end) forwards, blinking 1s infinite;
  border-right: 2px solid;
} */


.header--wrapper {
  display : grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto;
  margin: 75px 0;


}
.social--links {

  grid-column: 2 2;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 200px 0;

}
.icon--wrapper {
  background: #A57548;
  width: 80px;
  height: 80px;
transition: transform .2s;
  border-radius: 50%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

 
}
.icon {
  color: white;
  margin: auto; 
}
.resume--icon {
  animation: fadein 0.75s 2.5s forwards;
  opacity: 0;
}

.github--icon {
  animation: fadein 0.75s 3.25s forwards;
  opacity: 0;
}
.linkedin--icon {
  animation: fadein 0.75s 4s forwards;
  opacity: 0;
}

.icon--wrapper:hover {
  transform: scale(1.5);
}
#about {
  padding-right: 30%;
}

.about--title, .experience--header, .project--header {
  font-size: 44px;
  text-align: start;
  color: #5d5e60;

  margin-bottom: 60px;

}
.project--header {
  margin-bottom: 20px;
}
.project--subheader {
  color: #5d5e60;
  text-align: start;
}

.about--description {
  font-size: 28px;
  text-align: start;
  color: #5d5e60;

} 
.timeline--date {
  font-size: 44px;
}

#contact {
  margin-bottom: 300px;
}
.contact--header {
  margin-bottom: 120px;
  font-size: 44px;
  color: #5d5e60
}

.contact--div {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background: #A57548;
  width: 24%;
  border-radius: 20px;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-decoration: none;
  transition: transform 0.2s;
}
.contact--div:hover {
  transform: scale(1.10);
}

.contact--divs {
  margin: 0 auto;
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  gap: 60px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0;
}

.card--container {
  background-color: white;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 40%;
  padding: 20px;
  border-radius: 30px;
  transition: transform 0.2s;
}
.card--container:hover {
  transform: scale(1.05);
}

.card--container > img {
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
}
.card-description-container {

  /* border:  solid #5d5e60 3px; */
  border-radius: 7.5px;
  padding: 0 5px;

}

.card--description {
  font-size: 1.25em;
  color:#5d5e60;
  line-height: 1.25em;

}

.card--links {
  
  
  
  display: flex;
  gap: 20px;

}

.card-link {
  text-decoration: none;
  background: #5d5e60;
  padding: 10px;
  border-radius: 5px;
  /* margin-right: 10px; */
  color: #EDEBD7;
  font-weight: 600;
  font-size: 20px;
  transition: transform 0.2s;
}
.card-link:hover {
  transform: scale(1.10);
}
.card--skills {
  background: #D62828;
  color: #EDEBD7;
  padding: 10px;
  font-weight: 500;
  border-radius: 5px;
  transition: transform 0.2s;
}
.card--skills:hover {
  transform: scale(1.10);
}

.card-skills-container {
  display : flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}